.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px;
  background: linear-gradient(135deg, #0C0C0C 40%, #7ED6DF);
  color: #FFFFFF;

  .nav-link {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .nav-link-active {
    background-color: rgba(255, 255, 255, 0.4);
  }
}